@model ABV_Invest.BindingModels.FilesUploadedBindingModel

@{
    ViewData["Title"] = "Качване на информация за сделки";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr class="hr-2" />

<form asp-area="Administration" asp-controller="Uploads" asp-action="Info" method="post">
    <div class="container">
        <br />
        <hr />
        <h4>Тук можете да качите файлът с клиентските сделки:</h4>
        <br />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row d-flex justify-content-around">
            <div class="col-md-4" name="DealsDate">
                <br />
                <partial name="_DatePartialAdmin" />
            </div>
            <div class="col-md-4" name="Deals">
                <label asp-for="@Model.XMLFile">Клиентски сделки</label>
                <input asp-for="@Model.XMLFile" type="file" class="form-control" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn bg-bg-abvdarkgreen bg-abvlightgreen">Качи</button>
            </div>
        </div>
        <br />
    </div>
</form>