<div class="row">
    <div class="bg-bg-abvmiddlegreen col-md-4 text-center">
        <a asp-area="Identity" asp-page="/Account/Register" class="bg-abvdarkgreen"><h3>Регистрация</h3></a>
    </div>
    <div class="bg-bg-abvlightgreen col-md-4 text-center">
        <a asp-area="Identity" asp-page="/Account/Login" class="bg-abvdarkgreen"><h3>Вход</h3></a>
    </div>
    <div class="bg-bg-abvmiddlegreen col-md-4 text-center">
        <a asp-controller="News" asp-action="Load" class="bg-abvdarkgreen"><h3>Новини</h3></a>
    </div>
</div>