<div clas="row" style="margin-top: 50px">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="index-menu">
        <img src="https://res.cloudinary.com/mausha/image/upload/v1543241400/ABV/ABVlogo.jpg" alt="ABV-logo" class="img-responsive" asp-append-version="true">
    </div>
</div>
<div class="row">
    <div class="bg-bg-abvmiddlegreen col-md-4 text-center">
        <a asp-area="Administration" asp-controller="Uploads" asp-action="PortfoliosInfo" class="bg-abvdarkgreen"><h3>Качи портфолиа</h3></a>
    </div>
</div> <br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="bg-bg-abvlightgreen col-md-4 text-center">
        <a asp-area="Administration" asp-controller="Uploads" asp-action="DealsInfo" class="bg-abvdarkgreen"><h3>Качи сделки</h3></a>
    </div>
</div> <br />
<div class="row">
    <div class="col-md-8"></div>
    <div class="bg-bg-abvmiddlegreen col-md-4 text-center">
        <a asp-area="Administration" asp-controller="Data" asp-action="Add" class="bg-abvdarkgreen"><h3>Добавяне на данни</h3></a>
    </div>
</div>