@if (User.IsInRole(Constants.Admin))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="Administration" asp-controller="Uploads" asp-action="PortfoliosInfo" class="bg-abvlightgreen">Качи портфолиа</a></li>
    </ul>
}