@if (User.IsInRole(Constants.Admin))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="Administration" asp-controller="Uploads" asp-action="PortfoliosInfo" class="bg-abvlightgreen">Качи портфолиа</a></li>
        <li><a asp-area="Administration" asp-controller="Uploads" asp-action="DealsInfo" class="bg-abvlightgreen">Качи сделки</a></li>
        <li><a asp-area="Administration" asp-controller="Users" asp-action="Maintenance" class="bg-abvlightgreen">Потребители</a></li>
    </ul>
}