@model ABV_Invest.BindingModels.DateChosenBindingModel

<label asp-for="@Model.Date" class="control-label">Дата</label>
<input asp-for="@Model.Date" class="form-control">
<span asp-validation-for="@Model.Date" class="text-danger"></span>