@model ErrorViewModel
@{
    ViewData["Title"] = "Възникна грешка:";
}

@if (ViewData.ContainsKey("Error"))
{
    <h3 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h3>
    <h4 class="bg-abvmiddlegreen text-center">@ViewData["Error"]</h4>
    <br />
}