@model ErrorViewModel
@{
    ViewData["Title"] = "Възникна грешка:";
}

@if (ViewBag.Error != null)
{
    <h3 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h3>
    <h4 class="bg-abvmiddlegreen text-center">@ViewBag.Error</h4>
    <br />
}