@using ABV_Invest.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AbvInvestUser> SignInManager
@inject UserManager<AbvInvestUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Portfolios" asp-action="Index" class="bg-abvlightgreen">Портфолио</a></li>
            <li><a asp-area="" asp-controller="Deals" asp-action="Index" class="bg-abvlightgreen">Сделки</a></li>
            <li><a asp-area="" asp-controller="Balances" asp-action="Index" class="bg-abvlightgreen">Баланс</a></li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="bg-abvlightgreen">Профил</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link bg-abvlightgreen">Изход</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register" class="bg-abvlightgreen">Регистрация</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" class="bg-abvlightgreen">Вход</a></li>
    </ul>
}