@if (User.IsInRole(Constants.User))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Portfolios" asp-action="ChooseDate" class="bg-abvlightgreen">Портфолио</a></li>
        <li><a asp-area="" asp-controller="Deals" asp-action="ChooseDate" class="bg-abvlightgreen">Сделки</a></li>
        <li><a asp-area="" asp-controller="Balances" asp-action="Index" class="bg-abvlightgreen">Баланс</a></li>
    </ul>
}