@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>

@*<h1 class="text-center text-danger">Error</h1>
    <h3 class="text-center">Type: @ViewData["message"]</h3>*@