@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Управление на профила";
}

<div>
    <h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <partial name="_ManageNav" />
    </div>
    <div class="row" style="margin-top: 20px">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}