@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-abvmiddlegreen text-center">Управление на профила</h2>
<hr />

<div>
    <h4 class="bg-abvdarkgreen">Промени настройките на профила си</h4>
    <hr />
    <div class="row">
        <partial name="_ManageNav" />
    </div>
    <div class="row">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}