@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Изтриване на лична информация";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong> Изтриването на тези данни ще изтрие регистрацията Ви в този уебсайт и няма да имате достъп до системата.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Парола</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Изтриване на данните и прекратяване на регистрацията</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}