@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Сваляне на лична информация";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

<h4 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h4>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}