@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Сваляне на лична информация";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

<div class="container bg-abvdarkgreen">
    <div class="col-md-6">
        <h4 class="bg-abvmiddlegreen">@ViewData["Title"]</h4>
        <hr />
    </div>
</div>