@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лична инфорация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <p>При регистрацията си на този уебсайт вие сте предоставили своите лични данни. На тази страница можете да свалите или да изтриете тези данни.</p>
        <p>
            <strong>Изтриването на тази информация ще изтрие регистрацията Ви в този уебсайт и няма да имате достъп до системата.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Сваляне на данни</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Изтриване на регистрация</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}