@model DateChosenBindingModel
@{
    ViewData["Title"] = "Сделки";
}

<div class="container">
    <h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
    <hr />
    <div class=" col-md-6 bg-abvdarkgreen large-fontsize">
        <h4 class="bg-abvmiddlegreen">
            Изберете дата, за да можете да получите информация за сделките, сключени за ваша сметка на тази дата:
        </h4>
        <br />
        <section>
            <form asp-controller="Deals" asp-action="ChooseDate" method="post">
                <partial name="_DatePartial" />
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}