/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Layout*/
.navbar {
    color: #d2db34;
    background-color: #2a833f;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#myCarousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Index */
#index-menu {
    margin-bottom: 50px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.bg-abv-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 5px;
    color: #89bf32;
}

/* Font-sizes*/
.large-fontsize {
    font-size: 20px !important;
}

/* Text colors*/
.bg-abvdarkgreen {
    color: #2A833F;
}

.bg-abvmiddlegreen {
    color: #89BF32;
}

.bg-abvlightgreen {
    color: #D2DB34;
}

.bg-abvred {
    color: red;
}

/* Backgroud color*/
.bg-bg-abvdarkgreen {
    background-color: #2A833F;
}

.bg-bg-abvmiddlegreen {
    background-color: #89BF32;
}

.bg-bg-abvlightgreen {
    background-color: #D2DB34;
}

.bg-bg-abvwhite {
    background-color: white;
}

.hr-2 {
    line-height: 2;
    color: #89bf32
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}