@{
    ViewData["Title"] = "За нас";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div class="container">
    <div class="row bg-abvdarkgreen large-fontsize">
        <div class=" col-md-6" align="justify">
            <p>
                „АБВ – Инвестиции” ЕООД е лицензиран инвестиционен посредник, член на Българска фондова борса – София АД и Централен депозитар АД.
            </p>
            <p>
                „АБВ – Инвестиции” ЕООД предлага посредничество за сключване на сделки за покупка или продажба на финансови инструменти: акции на български публични дружества, регистрирани за търговия на Българска фондова борса – София АД; акции на български непублични дружества, регистрирани в Централен депозитар АД; компенсаторни инструменти – Поименни компенсационни бонове, Компенсаторни записи, Жилищни компенсаторни записи.
            </p>
            <p>
                „АБВ – Инвестиции” ЕООД предлага и услуги като Регистрационен агент: дубликати на депозитарни разписки, процедури по унаследяване на акции или компенсаторни инструменти, дарение.
            </p>
        </div>
        <div class="col-md-6" align="justify">
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241400/ABV/ABVlogo.jpg" alt="ABV-logo" class="img-responsive">
            <br />
            <p>
                <b>Идентификация: BIC: ABIEBGS1</b> <br />
                <b>Лицензи и разрешения:</b>
            </p>
            <p>
                Разрешение за извършване на дейност като инвестиционен посредник с решение № 21-ИП/31.03.1999 г. на КЦКФБ. „АБВ-Инвестиции“ ЕООД е вписано в регистъра на инвестиционните посредници с Удостоверение № РГ-03-0190/06.04.2000 г. на ДКЦК. Дружеството е прелицензирано от Комисията за финансов надзор с лиценз № РГ-03-0190/10.04.2006 г.
            </p>
        </div>
    </div>
</div>