@{
    ViewData["Title"] = "Контакти";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr style="height: 5px" />

    <div class="col-md-6">
        <p class="bg-abvdarkgreen large-fontsize">
            Нашите сътрудници:
        </p>
        <div>
            <img src="~/images/Card1.png" alt="ABV-logo" class="img-responsive">
            <img src="~/images/Card3.png" alt="ABV-logo" class="img-responsive">
            <img src="~/images/Card4.png" alt="ABV-logo" class="img-responsive">
            <img src="~/images/Card5.png" alt="ABV-logo" class="img-responsive">
        </div>
    </div>
    <div class="bg-abvdarkgreen large-fontsize col-md-6">
        <address>
            <p>
                <b>Клиентска сметка:</b>
            </p>
            <p>
                Тексим банк АД, <b>BIC: TEXIBGSF</b>
            </p>
            <p>
                <b>IBAN: BG79TEXI95451005175202</b>
            </p>
            <p>
                Адрес: <b>гр.Варна, улица „Цар Асен“ 20</b>
            </p>
            <p>
                телефони за връзка: <b>052 601 594; 052 601 592</b>
            </p>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1380.818320038895!2d27.915951944665313!3d43.209363097772645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540b133b1c73%3A0x6aaa649c4ed2bf3d!2sul.+%22Tsar+Asen+I-vi%22+20%2C+9002+Varna+Center%2C+Varna!5e1!3m2!1sen!2sbg!4v1542923563760" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>