@{
    ViewData["Title"] = "Контакти";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <div class="col-md-5">
        <p class="bg-abvdarkgreen large-fontsize">
            Нашите сътрудници:
        </p>
        <div>
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241735/ABV/Card1.png" class="img-responsive" asp-append-version="true">
            <hr />
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241726/ABV/Card3.png" class="img-responsive" asp-append-version="true">
            <hr />
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241727/ABV/Card4.png" class="img-responsive" asp-append-version="true">
            <hr />
            <img src="https://res.cloudinary.com/mausha/image/upload/v1543241727/ABV/Card5.png" class="img-responsive" asp-append-version="true">
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="bg-abvdarkgreen large-fontsize col-md-6">
        <address>
            <p>
                Kлиентска сметка:
            </p>
            <p>
                Тексим банк АД, <b>BIC: TEXIBGSF</b>
            </p>
            <p>
                <b>IBAN: BG79TEXI95451005175202</b>
            </p> <br />
            <p>
                Aдрес:
            </p>
            <p>
                <b>гр.Варна, улица „Цар Асен“ 20</b>
            </p>
            <p>
                Телефони за връзка:
            </p>
            <p>
                <b>052 601 594; 052 601 592</b>
            </p>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1380.818320038895!2d27.915951944665313!3d43.209363097772645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540b133b1c73%3A0x6aaa649c4ed2bf3d!2sul.+%22Tsar+Asen+I-vi%22+20%2C+9002+Varna+Center%2C+Varna!5e1!3m2!1sen!2sbg!4v1542923563760" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>