@{
    ViewData["Title"] = "Политика на поверителност";
}

<h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
<hr />
<div class="container" align="justify">
    <br />
    <br />
    <h3 class="bg-abvmiddlegreen">Бисквитки</h3>

    <h5 class="bg-abvmiddlegreen">Какво представляват бисквитките?</h5>
    <p>
        Бисквитките са малки по обем файлове, които се прикрепят към потребителския уеб браузър след посещение на определена уебстраница. Бисквитките връщат информация към страницата всеки път, когато потребителят я посети отново. Посредством бисквитките уебстраниците запомнят определена потребителска информация и предпочитания, например езикови настройки и стават по-достъпни и удобни за ползване от Вас. Бисквитките, които ползваме, не могат директно да ви идентифицират, но спомагат да получите по-адаптирано за вашите интереси съдържание по време на вашето сърфиране в страницата ни.
    </p>
    <br />

    <h5 class="bg-abvmiddlegreen">Защо използваме бисквитките?</h5>
    <p>
        Използваме "бисквитки", за да персонализираме съдържанието и да Ви осигурим подобрено потребителско изживяване. Използвайки този уеб сайт, вие се съгласявате с внедряването на някои необходими за функционирането на сайта "бисквитки". Можете да контролирате и управлявате "бисквитките" чрез браузъра си (вижте по-долу) или посредством настоящата страница. Моля, имайте предвид, че премахването или блокирането на "бисквитките" може да повлияе на практическата ви работа, а някои функции вече няма да са налице.
    </p>
    <br />

    <h5 class="bg-abvmiddlegreen">Как да контролирате бисквитките?</h5>
    <p>
        Можете да контролирате и/или изтривате бисквитки когато пожелаете - за повече информация вижте aboutcookies.org. Можете да изтриете всички бисквитки, които вече са запазени на вашия компютър, а също така можете да настроите повечето браузъри да ги блокират. Ако направите това обаче, може да се наложи ръчно да настройвате някои параметри всеки път, когато посещавате даден сайт, а освен това е възможно някои услуги и функции да не работят.
    </p>
</div>