@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Непозволен достъп";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<p class="text-danger">Нямате достъп до тези ресурси.</p>