@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Емейл потвърждение";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<p>Благодаря Ви, че порвърдихте емейла си.</p>