@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение на забравена парола";
}

<h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
<hr />

<p>Моля, проверете своя имейл, за да промените паролата си.</p>