@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен потребител";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<p class="text-danger">Този потребител е заключен. Моля опитайте отново по-късно.</p>