@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен потребител";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Този потребител е заключен. Моля опитайте отново по-късно.</p>
</header>