@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

<header>
    <h1 class="bg-abvmiddlegreen">@ViewData["Title"]</h1>
    <p class="bg-abvdarkgreen">Успешно излязохте от системата.</p>
</header>