@page
@model LogoutModel
@{
    ViewData["Title"] = "Изход";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<p class="bg-abvdarkgreen">Успешно излязохте от системата.</p>
