@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за променена парола";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<p>Вашата парола беше променена. Моля <a asp-page="./Login">кликнете тук</a>, за да се логнете.</p>