@{
    ViewData["Title"] = "Портфолио";
}
@model ABV_Invest.BindingModels.DateChosenBindingModel

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div class="container">
    <partial name="_ErrorPartial" />
    <div class="col-md-3"></div>
    <div class=" col-md-6 bg-abvdarkgreen large-fontsize">
        <p>
            Изберете дата, за да можете да получите информация за портфолиото си към тази дата:
        </p>
        <br />
        <form asp-controller="Portfolios" asp-action="ChooseDate" method="post">
            <partial name="_DatePartial" />
        </form>
    </div>
</div>