@{
    ViewData["Title"] = "Управление на данните";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div class="container">
    <partial name="_ErrorPartial" />

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <a asp-action="AddCurrency" class="btn bg-abvdarkgreen large-fontsize">Добавяне на валута</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <a asp-action="AddMarket" class="btn bg-abvdarkgreen large-fontsize">Добавяне на пазар</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-6">
            <a asp-action="AddSecurity" class="btn bg-abvdarkgreen large-fontsize">Добавяне на ценни книжа</a>
        </div>
    </div>
</div>