@model CurrencyBindingModel
@{
    ViewData["Title"] = "Добавяне на валута";
}

<div class="container bg-abvdarkgreen">
    <h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
    <hr />
    <div class="col-md-6">
        <h4 class="bg-abvmiddlegreen">Попълнете трибуквения код на валутата, която искате да добавите:</h4>
        <br />
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Code">Валутен код</label>
                    <input asp-for="@Model.Code" class="form-control" />
                    <span asp-validation-for="@Model.Code" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" class="btn bg-bg-abvdarkgreen bg-abvlightgreen">Добави</button>
            </form>
        </section>
    </div>
</div><br>

<div class="text-center">
    <span class="fas fa-angle-double-left bg-abvmiddlegreen"></span>
    &nbsp;
    <a asp-action="Add" class="bg-abvmiddlegreen large-fontsize">Обратно</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}